.body
{ background-color: black;
  font-size: 200px;
  text-align: center;
  padding: left;

}

body
h2{color:bright blue;
   padding:20px;
   text-align:center;
  }

.fruits h2 {
  padding: 50px 30px;
  background-color :blue;
}