.body
{ background-color: black;
  font-size: 200px;
  text-align: center;
  padding: left;

}

body
h2{"color:bright blue"
   padding:20px;
   text-align;center
   
  }

<li style="color:black">Cucumber</li>
<li style="color:rgb(5, 1, 8)">Mulberry</li>
<li style="color:black">Brinjal</li>
</ul>

.fruits h2 {
  padding: 50px 30px;
  background-color :blue;
}